* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Dashboard {
  display: flex;
  flex-grow: 1;

  main {
    display: flex;
    flex-direction: column;
    width: 70vw;
  }

  aside {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #ccc;
    width: 30vw;

    span {
      margin: 10px;
      border: 1px solid #ccc;
      cursor: pointer;
    }
  }
}

.ChatWindow {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  height: 80vh;

  .msgs {
    overflow-y: scroll;
  }
}

.Contact,
.Channel {
  display: flex;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 5px;

  .box {
    display: flex;
    flex-direction: column;
  }

  .avatar {
    padding: 5px;
  }

  .b-name {
    font-weight: bold;
  }

  .b-pubkey {
    font-size: small;
  }
}

.publicChannels-list {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    margin: 5px;
    border-bottom: 1px solid #ccc;
  }
}

button,
summary,
label {
  cursor: pointer;
}
